
<B_sous_rub>
<div class="article">
	<BOUCLE_sous_rub(RUBRIQUES){id_parent}{par num titre, titre}{"<div class='borne'></div>"}>
	<BOUCLE_sous_rub2(RUBRIQUES){id_parent}{par num titre, titre}>
		<div class="image">
			<h3><a href="#URL_RUBRIQUE">[(#TITRE|supprimer_numero)]</a></h3>
		</div>
	</BOUCLE_sous_rub2>
	</BOUCLE_sous_rub>
</div>
</B_sous_rub>
