<BOUCLE_rub_principale(RUBRIQUES){id_rubrique}>
<div id="salle">

	<B_differentes_bornes>
	<div id="menu">
		<div id="contenu_menu"><div>
		[(#CONFIG{gbi/localisation}|=={internet}|oui)
			<a href="#URL_EXPOSITION"><:gbi:retour_au_menu:></a>]
		<BOUCLE_differentes_bornes(RUBRIQUES){meme_parent}{par num titre, titre}{"<span class='bull'>&bull;</span>"}>
			[(#TOTAL_BOUCLE|>{1}|oui)<a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>#TITRE</a>]
		</BOUCLE_differentes_bornes>
		</div></div>
	</div>
	</B_differentes_bornes>
	[(#CONFIG{gbi/localisation}|=={internet}|oui)
		<div id="menu">
			<div id="contenu_menu"><div>
				<a href="#URL_EXPOSITION"><:gbi:retour_au_menu:></a>
			</div></div>
		</div>
	]
	<//B_differentes_bornes>
	
	
	#DESCRIPTIF
</div>
</BOUCLE_rub_principale>
